body{
    background-color:burlywood;
    margin: 0;
    padding: 0;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.card{
    width: 80%;
    margin:150px auto;
    padding: 50px;
    background-color:bisque;
    box-sizing: border-box;
    border-color: black;
    border-width: 3px;
    text-align: center;
    border-radius: 10px;
}
label{
    width:20% ;
    display:inline-block;
}
input{
    font-style: italic;
    margin: 10px 0px ;
    padding:15px;
    width:70%;
    background-color: black;
    color: whitesmoke;
    font-weight: bold;
    border-radius: 10px;
}
button{
    display: block;
    margin: 30px 10px 0px 75px ;
    padding:15px;
    width:90%;
    font-size: 15px;
    background-color:brown;
    color: whitesmoke;
    font-weight: bold;
    border-radius: 10px;
}

form{
    width: 95%;
}
button:hover{
        background-color:burlywood;
}
